
p
{
  font-size: 10px;
  margin:0;
  padding:0;
  line-height:10px;
}

.center-text
{
  text-align:center;
}
.right-text
{
  text-align:right;
}


.right{
  float:right !important;
}
.left{
  float:left !important;
}
.relative
{
  position: relative;
}



.barcode
{
  text-align:center;
  	  margin: 0;
  padding: 0;
  font-size:0;
  white-space:nowrap;
}


.barcode img
{
  margin: 0;
  padding: 0;
  font-size:0;
  line-height:5px;

}

.barcode-text
{
  font-size:8px;
  line-height:9px;
    margin: 0;
  padding: 0;

}


/* Report View */



.obj-titlebar
{
	text-align: center;
}



.obj-parts
{
  width: 100%;
}
.obj-parts td,  .obj-parts th
{
  padding: 3px;
  border: none;
}

.part-loc
{
  text-align: center;
  margin: 0;
}


.obj-img
{

width:30%;
	max-width:100px;
	max-height:50px;
}
.obj-txt
{
  width:65%;
  float:right;
}



.obj-parts
{
  clear: both;
}

.obj-parts tr th
{
	font-weight: bold;
}
.part
{
	text-align:center;
	font-size: 8px;
	line-height: 8px;
}



.cre-name
{
  font-weight: bold;

}

.obj-title
{
  font-style: italic;
}

.obj-acc
{
  font-weight: bold;
}


/****************** PDF Specific ***********************/

.obj-img img
{
	margin:2px;
	padding: 0;
	height: 50px;

}


.noborder
{
	border: none;
}

.noborder td, .noborder th, .noborder tr
{
	border: none;
}

.yellow
{
	background-color:yellow;
}
.specLoc 
{
	line-height:10px;
	font-size:8px;
}

.tbl-spacing
{
	font-size: 2px;
	line-height: 2px;
}








